<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <title>Todo List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <link rel='stylesheet' href='/style.css'> 
</head>
<body>
    <h1>Todo List</h1>

    <% if(tasks.length <= 0) { %>

            <img id="allConfettis" src="./images/grosseFete.png" alt="imgGrosseFete" style="width: 40px;"> 
          
    <% }else { %>    
 
            <img id="oneConfetti" src="../images/fete.png" alt="imgfete"  style="width: 40px;"> 

    <% } %> 

    <form action="/task" method="POST">
        <input type="text" name="task" placeholder="Nouvelle Tache" autofocus required>
        <button type="submit" id="btn">Ajouter</button>
    </form>
    <h3>Mes Taches :</h3>
    <ul>
        <% tasks.forEach((task, idx) =>{ %>
            <li>
                <% if(task.done){ %>
                    <s><%= task.title %></s>    | <a href="/task/<%= idx %>/delete">Supprimer</a> 
                                                | <a href="/task/<%= idx %>/cancel">Annuler</a>                     
                <% } else { %>                   
                    <%= task.title %> | <a href="/task/<%= idx %>/done">Terminer</a><br>
                <% } %>
            </li>
        <% }) %>
    </ul>   

<script src="./even.js"></script>
<script src="./evenAll.js"></script>

</body>
</html>